
    <!-- Preloader -->
    <div id="line-loader">
      <div class="middle-line"></div>
    </div>

    <!--   Menu Overlay Mobile -->
    <div class="menu-overlay d-none"></div>

    <!--   Right Side Start  -->
    <div class="right-side d-none d-lg-block">
      <div id="date"></div>
      <div class="social-box">
        <div class="follow-label">
          <span>Follow Me</span>
        </div>
        <div class="social d-none d-lg-block">
          <a href="tel:0926224173">
            <i class="bi bi-phone"></i>
          </a>
          <a href="https://www.linkedin.com/in/%E5%93%81%E6%AF%85-%E5%90%B3-46459a128/"  target="_blank">
            <i class="bi bi-linkedin"></i>
          </a>
        </div>
      </div>
      <div class="next-prev-page">
        <button type="button" class="prev-page bg-base-color hstack">
          <i class="bi bi-chevron-compact-up mx-auto"></i>
        </button>
        <button type="button" class="next-page bg-base-color mt-3 hstack">
          <i class="bi bi-chevron-compact-down mx-auto"></i>
        </button>
      </div>
    </div>
    <!--  Right Side End  -->

    <!--  Left Side Start  -->
    <div class="left-side  nav-close">
      <div class="menu-content-align">
        <div class="left-side-image">
          <img src="assets/img/my.png" alt="/">
        </div>
        <h1 class="mt-1">Pinyi Wu</h1>
        <div class="container d-lg-none d-inline-block">
          <div class="row">
            <div class="col-12 text-center">
              <p class="text-muted mb-0">Front-End Engineer</p>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-align">
        <ul class="list-group menu text-center " id="menu">
          <li class="list-group-item">
            <a href="#hero">
              <i class="bi bi-house"></i>
              <span>home</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="#about" class="custom-btn">
              <i class="bi bi-person"></i>
              <span>about</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="#resume">
              <i class="bi bi-clipboard-check"></i>
              <span>resume</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="#portfolio">
              <i class="bi bi-collection"></i>
              <span>works</span>
            </a>
          </li>
        </ul>
        <div class="menu-footer">
          <div class="social d-lg-none d-block">
            <a href="tel:0926224173" class="d-inline-block">
              <i class="bi bi-phone"></i>
            </a>
            <a href="https://www.linkedin.com/in/%E5%93%81%E6%AF%85-%E5%90%B3-46459a128/"  target="_blank" class="d-inline-block mx-4">
              <i class="bi bi-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--  Left Side End  -->

    <!--  Main Start  -->
    <main id="main" class="main-2">

      <!--  Hero Start  -->
      <section id="hero" class="section hero w-100">
        <img class="extend-icon" src="assets/img/responsive-dark.png" alt="/">
        <div class="hero-center">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center text-lg-start">
                <div class="hero-image d-inline-block d-lg-none">
                  <img src="assets/img/my.png" alt="/">
                </div>
                <div class="hero-content mt-4 mx-auto mx-lg-0 text-lg-left mt-lg-none">
                  <p class="base-color">Front-End Engineer</p>
                  <h2>Hello , I’m <span class="base-color">Pinyi Wu </span>Welcome to my World. </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-footer d-block d-lg-none">
          <div class="social d-lg-none mb-4 d-block">
            <a href="tel:0926224173" class="d-inline-block">
              <i class="bi bi-phone"></i>
            </a>
            <a href="https://www.linkedin.com/in/%E5%93%81%E6%AF%85-%E5%90%B3-46459a128/"  target="_blank" class="d-inline-block mx-4">
              <i class="bi bi-linkedin"></i>
            </a>
          </div>
        </div>
      </section>
      <!--  Hero End  -->

      <!--  About Start  -->
      <section id="about" class="section about">
        <div class="container">
          <!-- Introducce Me -->
          <div class="about-boxes">
            <div class="row">
              <div class="col-lg-5">
                <div class="about-img">
                  <img src="assets/img/my.png" alt="/">
                  <div class="border-img"></div>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="about-description">
                  <h3 class="mb-3">A short story about me , my mission, thinking and skill.</h3>
                  <p class="about-text">I’m a Front-End Engineer , I enjoy solving problems and discover new solutions. just like  Scurm, Devop, Clean Code, Working with legacy code. </p>
                </div>  
                <!-- Personal Info -->
                <div class="row">
                  <div class="col-lg-6">
                    <ul class="list-unstyled personal-info">
                      <li>Website : <small>gzes00201@gmail.com</small>
                      </li>
                      <li>Phone : <small>+886 926224173</small>
                      </li>
                      <li>City : <small> Taichung</small>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    <ul class="list-unstyled personal-info">
                      <li>Age : <small>33</small>
                      </li>
                      <li>Degree : <small>Bachelor</small>
                      </li>
                      <li>Experience : <small>Six years(Engineer)</small>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  Count up  -->
          <div id="count-up" class="count-up text-center box-border">
            <div class="row"></div>
          </div>
          <!--  Skills  -->
          <div class="skills">
            <div class="row pt-5">
              <div class="col-lg-7">
                <div class="skill-description">
                  <h3 class="mb-3">I have been able to experience & developing this type of skill.</h3>
                  <p class="mb-0">I was doing everything in my power to provide me with all the experiences</p>
                </div>
              </div>
              <div class="col-lg-5">
                <ul class="knowledge-item">
                  <li>Angular</li>
                  <li>Vue</li>
                  <li>Testing</li>
                  <li>K8S</li>
                </ul>
              </div>
            </div>
          </div>
          <!--  Skillbar  -->
          <div class="row mt-5 skills">
            <div class="col-lg-6">
              <h3 class="subtitle">Develop Skills</h3>
              <div id="skills">
                <!-- Item 01 -->
                <div class="col-lg-12 skill-box">
                  <div class="skill-text">
                    <div class="skillbar-title">Front-End</div>
                    <div class="skill-bar-percent"><span data-from="0" data-to="100" data-speed="4000">100</span>%</div>
                  </div>
                  <div class="skillbar clearfix" data-percent="100%">
                    <div class="skillbar-bar"></div>
                  </div>
                </div>
                <!-- Item 02 -->
                <div class="col-lg-12 skill-box">
                  <div class="skill-text">
                    <div class="skillbar-title">Agile Development</div>
                    <div class="skill-bar-percent"><span data-from="0" data-to="80" data-speed="4000">70</span>%</div>
                  </div>
                  <div class="skillbar clearfix" data-percent="95%">
                    <div class="skillbar-bar"></div>
                  </div>
                </div>
                <!-- Item 03 -->
                <div class="col-lg-12 skill-box">
                  <div class="skill-text">
                    <div class="skillbar-title">Back-End</div>
                    <div class="skill-bar-percent"><span data-from="0" data-to="60" data-speed="4000">60</span>%</div>
                  </div>
                  <div class="skillbar clearfix" data-percent="85%">
                    <div class="skillbar-bar"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 ms-auto mt-5 mt-lg-0">
              <h3 class="subtitle">My Skill</h3>
              <div class="language-bar">
                <!-- Item 01 -->
                <div class="language-skill">
                  <h6 class="mb-0">Team Training
                  </h6>
                  <ul class="list-inline text-right">
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-half"></i>
                    </li>
                  </ul>
                </div>
                <!-- Item 02 -->
                <div class="language-skill">
                  <h6 class="mb-0">Learn New Skills
                  </h6>
                  <ul class="list-inline text-right">
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                  </ul>
                </div>
                <!-- Item 03 -->
                <div class="language-skill">
                  <h6 class="mb-0">Performance Optimization
                  </h6>
                  <ul class="list-inline text-right">
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle-fill"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="bi bi-circle"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--  Client  -->
          <div class="testimonial mt-5">
            <div class="owl-carousel">
              <!-- Item 01 -->
              <div class="testimonial-box">
                <p class="testimonial-comment">"Phoenix Project Training In company"</p>
                <div class="testimonial-item">
                  <div class="testimonial-image">
                    <img src="assets/img/phoenix-project2.jpg" alt="/">
                  </div>
                  <div class="testimonial-info">
                    <p class="mb-0">Over 100 person join</p>
                    <small class="testimonial-jub">Developer, PM, UIUX </small>
                  </div>
                </div>
              </div>
              <!-- Item 02 -->
              <div class="testimonial-box">
                <p class="testimonial-comment">"Agile Breakfast Promoter! There is no problem that cannot be solved without good food!"</p>
                <div class="testimonial-item">
                  <div class="testimonial-image">
                    <img src="assets/img/agile.jpg" alt="/">
                  </div>
                  <div class="testimonial-info">
                    <p class="mb-0">Agile.Taichung 2020/10/31</p>
                    <small class="testimonial-jub">Monospace</small>
                  </div>
                </div>
              </div>
              <!-- Item 03 -->
              <div class="testimonial-box">
                <p class="testimonial-comment">"Build testing and front-end monitoring! Testing for Api, UI, Unit Testing , Monitoring browser error!"</p>
                <div class="testimonial-item">
                  <div class="testimonial-image">
                    <img src="assets/img/my3.jpg" alt="/">
                  </div>
                  <div class="testimonial-info">
                    <p class="mb-0">Testing Monitoring</p>
                    <small class="testimonial-jub">Is Protect</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--  About End  -->

      <!--  Resume Start  -->
      <section id="resume" class="section">
        <div class="container">
          <!-- Servises -->
          <div class="services  mb-6">
            <div class="boxes">
              <h3 class="subtitle">Services</h3>
              <div class="row vertical-line">
                <!-- Item 01 -->
                <div class="col-md-6">
                  <div class="services-box">
                    <i class="bi bi-award services-icon"></i>
                    <div class="services-content">
                      <h6 class="services-head">Web Development</h6>
                      <p class="services-description mb-0">Six years of development experience. Multi-architecture and multi-project maintenance experience.</p>
                    </div>
                  </div>
                </div>
                <!-- Item 02 -->
                <div class="col-md-6">
                  <div class="services-box">
                    <i class="bi bi-controller services-icon"></i>
                    <div class="services-content">
                      <h6 class="services-head">Game Development</h6>
                      <p class="services-description mb-0">Development Game With css, pixi, unity</p>
                    </div>
                  </div>
                </div>
                
                <!-- Item 03 -->
                <div class="col-md-6">
                  <div class="services-box">
                    <i class="bi bi-laptop services-icon"></i>
                    <div class="services-content">
                      <h6 class="services-head">APP Development</h6>
                      <p class="services-description mb-0">Android and IOS development experience. And product is launched in store!</p>
                    </div>
                  </div>
                </div>
                <!-- Item 04 -->
                <div class="col-md-6">
                  <div class="services-box">
                    <i class="bi bi-film services-icon"></i>
                    <div class="services-content">
                      <h6 class="services-head">Scurm</h6>
                      <p class="services-description mb-0">Support tame use scurm in development,let team work on agile!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  Resume  -->
          <div class="resume">
            <!--  TimeLine Education  -->
            <div class="boxes my-6">
              <h3 class="subtitle">Education</h3>
              <div class="row vertical-line">
                <!--  Item 01  -->
                <div class="col-md-6">
                  <div class="timeline-box">
                    <div class="time-line-header">
                      <p class="timeline-year">2016 - 2016</p>
                      <h6 class="timeline-title">International College of Innovation and Industry Liaison - N.C.H.Uk</h6>
                    </div>
                    <div class="timeline-content">
                      <p>物聯網應用與雲端運算人才班 職訓班</p>
                    </div>
                  </div>
                </div>
                <!--  Item 02  -->
                <div class="col-md-6">
                  <div class="timeline-box">
                    <div class="time-line-header">
                      <p class="timeline-year">2008 - 2012</p>
                      <h6 class="timeline-title">Chinyi University</h6>
                    </div>
                    <div class="timeline-content">
                      <p> Industrial Engineering & Management</p>
                    </div>
                  </div>
                </div>
                <!--  Item 03  -->
                <div class="col-md-6">
                  <div class="timeline-box">
                    <div class="time-line-header">
                      <p class="timeline-year">2005 - 2008</p>
                      <h6 class="timeline-title">SHINSHE SENIOR HIGH SCHOOL</h6>
                    </div>
                    <div class="timeline-content">
                      <p>Business Administration Division</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="timeline-box">
                  </div>
                </div>
              </div>
            </div>
            <!--  TimeLine Experience  -->
            <div class="boxes mt-6 mb-3">
              <h3 class="subtitle">Experience</h3>
              <div class="row vertical-line">
                <!--   Item 01   -->
                <div class="col-md-6">
                  <div class="timeline-box">
                    <div class="time-line-header">
                      <p class="timeline-year">2018 - now</p>
                      <h6 class="timeline-title">凡谷興業 - Lead Engineer</h6>
                    </div>
                    <div class="timeline-content">
                      <p>Responsible for a group of product developers, and team training</p>
                    </div>
                  </div>
                </div>
                <!--   Item 02   -->
                <div class="col-md-6">
                  <div class="timeline-box">
                    <div class="time-line-header">
                      <p class="timeline-year">2017 - 2018</p>
                      <h6 class="timeline-title">菁磊科技 - Full Stack Developer</h6>
                    </div>
                    <div class="timeline-content">
                      <p>Develop APIs with PHP, and develop front-end with vue and angular. The purpose is to refactor the old system.</p>
                    </div>
                  </div>
                </div>
                <!--   Item 03   -->
                <div class="col-md-6">
                  <div class="timeline-box">
                    <div class="time-line-header">
                      <p class="timeline-year">2016 - 2017</p>
                      <h6 class="timeline-title">ELINK - Back End Developer</h6>
                    </div>
                    <div class="timeline-content">
                      <p>Make a website for a client with PHP </p>
                    </div>
                  </div>
                </div>
                <!--   Item 04   -->
                <div class="col-md-6">
                  <div class="timeline-box">
                    <div class="time-line-header">
                      <p class="timeline-year">2013 - 2016</p>
                      <h6 class="timeline-title">巨匠電腦股份有限公司 - 資訊教育輔導老師</h6>
                    </div>
                    <div class="timeline-content">
                      <p>Planning training courses for clients,and maintenance of computer </p>
                    </div>
                  </div>
                </div>
                <!--   Item 05   -->
                <div class="col-md-6">
                  <div class="timeline-box">
                    <div class="time-line-header">
                      <p class="timeline-year">2007 - 2012</p>
                      <h6 class="timeline-title">明智科技 - engineer</h6>
                    </div>
                    <div class="timeline-content">
                      <p>Sell computer, and fix !</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="timeline-box">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--  Resume End  -->

      <!--  Portfolio Start  -->
      <section id="portfolio" class="section portfolio">
        <div class="container">
          <div class="heading-meta-container">
            <h2 class="heading-title">Portfolio</h2>
            <h6 class="description">See My Work</h6>
          </div>
          <div class="row">
            <!--   Portfolio Filters   -->
            <ul id="portfolio-filter" class="list-inline col-lg-12 portfolio-filter text-center">
              <li class="list-inline-item">
                <a href="javascript:void(0)" data-filter="*" class="active">All</a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)" data-filter=".webdesign">Web</a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)" data-filter=".mobiledesign">Mobile</a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)" data-filter=".k8s">CICD & K8S</a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0)" data-filter=".training">Team Training</a>
              </li>
            </ul>
          </div>
          <div class="portfolio-items border-line-v row">
            <!-- Item 01 -->
            <div class="col-md-6 col-lg-4 portfolio-item mobiledesign training">
              <div class="portfolio-box">
                <div class="portfolio-image">
                  <img src="assets/img/ios.jpg" alt="/">
                  <div class="portfolio-icon">
                    <a href="https://www.youtube.com/embed/lSO8N0yx5lY" class="portfolio-magnific mfp-iframe">
                      <i class="bi bi-camera-video"></i>
                    </a>
                  </div>
                </div>
                <div class="portfolio-content">
                  <h6 class="blog-header">IOS develop training</h6>
                  <p class="mb-0">team training</p>
                </div>
              </div>
            </div>
            <!-- Item 02 -->
            <div class="col-md-6 col-lg-4 portfolio-item webdesign k8s">
              <div class="portfolio-box">
                <div class="portfolio-image">
                  <img src="assets/img/pos.jpg" alt="/">
                  <div class="portfolio-icon">
                    <a href="assets/img/pos.jpg" class="portfolio-magnific mfp-iframe">
                      <i class="bi bi-file-earmark-text"></i>
                    </a>
                  </div>
                </div>
                <div class="portfolio-content">
                  <h6 class="blog-header">皮飾美學 POS System</h6>
                  <p class="mb-0">Vue + GCP</p>
                </div>
              </div>
            </div>
            <!-- Item 03 -->
            <div class="col-md-6 col-lg-4 portfolio-item webdesign">
              <div class="portfolio-box">
                <div class="portfolio-image">
                  <img src="assets/img/paka.jpg" alt="/">
                  <div class="portfolio-icon">
                    <a href="assets/img/paka.jpg" class="ajax-page-load">
                      <i class="bi bi-file-earmark-text"></i>
                    </a>
                  </div>
                </div>
                <div class="portfolio-content">
                  <h6 class="blog-header">Attendance System</h6>
                  <p class="mb-0">PHP + Arduino IOT</p>
                </div>
              </div>
            </div>
            <!-- Item 04 -->
            <div class="col-md-6 col-lg-4 portfolio-item webdesign k8s training">
              <div class="portfolio-image">
                <img src="assets/img/ga.png" alt="/">
                <div class="portfolio-icon">
                  <a href="assets/img/ga.png" class="portfolio-magnific mfp-iframe">
                    <i class="bi bi-file-earmark-text"></i>
                  </a>
                </div>
              </div>
              <div class="portfolio-content">
                <h6 class="blog-header">Readme System</h6>
                <p class="mb-0">Golang + Angular + GCO</p>
              </div>
            </div>
            <!-- Item 05 -->
            <div class="col-md-6 col-lg-4 portfolio-item training">
              <div class="portfolio-image">
                <img src="assets/img/phoenix-project.jpg" alt="/">
                <div class="portfolio-icon">
                  <a href="https://photos.app.goo.gl/vZX9ZHGgDaJsuPZu6" target="_blank" class="ajax-page-load">
                    <i class="bi bi-file-earmark-text"></i>
                  </a>
                </div>
              </div>
              <div class="portfolio-content">
                <h6 class="blog-header">Phoenix Project Training</h6>
                <p class="mb-0">Over 100 person join</p>
              </div>
            </div>
            <!-- Item 06 -->
            <div class="col-md-6 col-lg-4 portfolio-item training">
              <div class="portfolio-image">
                <img src="assets/img/agile.jpg" alt="/">
                <div class="portfolio-icon">
                  <a href="https://photos.app.goo.gl/UhQYaTJEgUMANyFT7" target="_blank"  class="ajax-page-load">
                    <i class="bi bi-file-earmark-text"></i>
                  </a>
                </div>
              </div>
              <div class="portfolio-content">
                <h6 class="blog-header">Agile Breakfast Promoter</h6>
                <p class="mb-0">2020/10/31  AgileTourTaichung</p>
              </div>
            </div>
            <!-- Item 07 -->
            <div class="col-md-6 col-lg-4 portfolio-item mobiledesign k8s training">
              <div class="portfolio-image">
                <img src="assets/img/ios_game.jpg" alt="/">
                <div class="portfolio-icon">
                  <a href="https://www.youtube.com/embed/BdodvMA_4Gg" class="portfolio-magnific mfp-iframe">
                    <i class="bi bi-camera-video"></i>
                  </a>
                </div>
              </div>
              <div class="portfolio-content">
                <h6 class="blog-header">熊嗨遊樂園</h6>
                <p class="mb-0">IOS Swift APP + Golang + GCO</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--  Portfolio End  -->

    </main>
    <!--  Main End  -->

    <!--  Mobile Next and Prev Button Start -->
    <div class="next-prev-page d-block d-lg-none">
      <button type="button" class="prev-page bg-base-color hstack">      
        <i class="bi bi-chevron-compact-left mx-auto"></i>
      </button>
      <button type="button" class="next-page bg-base-color mt-1 mt-lg-3 hstack">
        <i class="bi bi-chevron-compact-right mx-auto"></i>
      </button>
    </div>
    <!--  Mobile Next and Prev Button End -->

    <!--  Navbar Button Mobile Start -->
    <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!--  Navbar Button Mobile End -->

    <!--  Background Shapes Start  -->
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <!--  Background Shapes End  -->

    <!-- Mouase Magic Cursor Start -->
    <div class="m-magic-cursor mmc-outer"></div>
	  <div class="m-magic-cursor mmc-inner"></div>
    <!-- Mouase Magic Cursor End -->
